/* Sets the global font family and size for the HTML document */
html {
  font-family: 'Righteous', Garamond, Georgia, sans-serif;
  font-size: 16px;
}

/* Sets the background color for the body */
body {
  background-color: rgb(241, 255, 179);
}

/* Styles the main heading with a specific font, background color, text color, padding, and center alignment */
h1 {
  font-family: 'Orbitron', Tahoma, Verdana, sans-serif;
  color: white;
  padding: 1.1rem;
  text-align: center;
  letter-spacing: 0.2em;
  background-image: url('imgs/wallpaper.jpg'); 
  background-size: 100px 100px;
  background-repeat: repeat-x;
  background-position: center;
}

/* Adds padding to the right side of anchor links */
a {
  padding-right: 2rem;
}

/* Styles the second-level headings with a specific font, background color, text color, and padding */
h2 {
  font-family: 'Orbitron', Tahoma, Verdana, sans-serif;
  background-color: rgb(160, 204, 255);
  color: rgb(51, 51, 51);
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Styles the third-level headings with a specific font, background color, text color, and padding */
h3 {
  font-family: 'Orbitron', Tahoma, Verdana, sans-serif;
  background-color: rgb(160, 204, 255);
  color: rgb(51, 51, 51);
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Adds padding and margin around the navigation section */
nav {
  margin: 1.5em 0;
  padding: 1em;
  font-family: 'Philosopher', Verdana, Tahoma, sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  background-color: #0682b1;
  padding: 0.5em 1em; /* Added padding to anchor links */
  border: 1px solid black;
  margin: 10px;
}

nav a:hover {
  color: #0682b1;
  background-color: #ffffff;
  border: 1px solid #0eb482;
}

/* Adds margin around the section elements */
section {
  margin: 1.8em;
}

/* Highlight class with a linear gradient background and italic font style */
.highlight {
  background-image: linear-gradient(to right, #ffccff, #ccffff);
  font-style: italic;
}

/* Standout class with yellow background color and bold font weight */
.standout {
  background-color: yellow;
  font-weight: bold;
}

/* Applies styles to the first letter of paragraph blocks */
p::first-letter {
  font-size: 2em;
  color: red;
  font-weight: bold;
  font-style: italic;
}

/* Styles the footer with a specific text color, font size, font style, text alignment, and background color */
footer {
  color: darkred;
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
  background-color: darkseagreen;
}

footer .p {
  margin: 0.1em;
}

/* Replaces list item symbols with a background image and resizes it */
li {
  list-style: none;
  background-image: url('imgs/check.png');
  background-size: 30px 30px; 
  background-repeat: no-repeat;
  padding-left: 45px; 
  background-position: left center;
}
